<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maderas estufadas del guadiana</title>

    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cosmo/bootstrap.min.css" integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d" crossorigin="anonymous"> --}}
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Maderas Estufadas del Guadiana</h1>
        </div>
        {{{body}}}
    </div>
</body>
</html>